@charset "UTF-8";

@font-face {
    font-family: "Passion";
    src: url(fontes/Passion_One/PassionOne-Bold.ttf) format("truetype");
}
@font-face {
    font-family: "sriracha";
    src: url(fontes/Sriracha/Sriracha-Regular.ttf) format("truetype");
}
*{
    margin: 0px;
}
:root{
    --fontedestaque: "Passion", cursive;
    --fontepadrao: Verdana, Geneva, Tahoma, sans-serif;
    --fonteracha:"sriracha", sans-serif;
}
header{ 
    background-color: black;
    color: white;
    text-align: center;
}
header h1{
    padding-top: 50px;
    font-family: var(--fontedestaque);
    font-variant: small-caps;
    font-size: 10vw;
}
header p{
    padding-bottom: 50px;
    font-family: var(--fontepadrao);
    font-size: 1.08em;
}
a{
    text-decoration: none;
    color: white;
}
section{
    padding-left: 30px;
    font-family: var(--fonteracha);
    font-size: 3.5vw;
    padding-top: 10vw;
    padding-bottom: 10vw;
    line-height: 2em;
}
section.imagem > p, section.imagem2 > p{
    background-color: #0000005e;
    max-height: 5hw;
    max-width: 45%;
    text-shadow: 1px 1px 2px rgba(63, 57, 57, 0.637);
    
}

section.imagem{
    background-image: url(imagens/background001.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: right center;
    color: white;
    box-shadow: -1px -3px 3px #00000073;
}
section.imagem2{
    background-image: url(imagens/background002.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: right center;
    color: white;
    box-shadow: -1px -3px 3px #00000073;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--fontepadrao);
}